*.exe
*.o
c++/*.exe
Android/
C/
Git/
Proyectos/	
Proyectos/
fortran.f95/
go/
php/
python/30*
python/Criptografia
python/Ejercicio
python/Juegos
python/Proyectos
python/realizados
python/udemy
python/ordenar
ruby/
