*.exe
*.o
c++/*.exe
Android/
Arduino/
C/
fortran.f95/
HolaGit/
hacking/
PowerShell/
python/30*
python/Criptografia
python/Ejercicio
python/Juegos
python/Proyectos
python/realizados
python/udemy
python/ordenar
Script/
Sistemas
web/
